*{
    margin: 0;
    padding:0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: white;
   
 
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98.1vh;
    width: 98.1vw;
}
.container{
    height: 50%;
    width: 50%;
    border: 1px solid red;
    background-color: #6f6f6f57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    background-color:rgba(161, 159, 159, 0.534) ;
    /* margin-top: 20px; */
    text-align: center;
}

div .login-square .formulario label{
    display: block;
    text-align: center;
}
div h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
}
.formulario {
    margin: 10px;
    padding: 10px;
}
.btn-enviar{
    display: block;
    color: rgb(19, 15, 15);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 60px;
}
.login-square {
    display: flex;
    justify-content: center;
    align-items: center;

}
.formulario input{
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}